/* fuentes personalizadas*/
  @font-face {
    font-family: "font_tex_main";
    src: url("../font/rockwell_regular.ttf");
  }
  @font-face {
      font-family: "font_title_main";
      src: url("../font/rockwell_bold.ttf");
  }
  @font-face {
      font-family: "font_nav";
      src: url("../font/productsansblack.ttf");
  }
/*-----------------------------------------*/

* {
	margin: 0 auto;
	padding: 0 auto;
	}

/*---Barra de navegacion---*/
nav {
	background: #fff;
	height: 60px;
	width: 100%;
	left: 0;
	top: 0;
	position: fixed;
	}
#nav_contenedor {
	width: 70%;
	height: 80px;
}
		.icon_nav {
				width: 55%;
				height: 80px;
				float: left;
		}

		.icon_nav img {
			width: auto;
			height: 45px;
			margin: 7px;
		}
		.menu_nav {
			width: auto;
			height: 20px;
			padding-top: 20px;
			padding-bottom: ;
		}
		.menu_nav ul {
			list-style: none;
			margin: 0;
			padding: 0;
			padding-left: 20px;
		}
		.menu_nav ul li {
			display: inline-block;
		}
		.menu_nav ul li a{
			color: #000;
			display: block;
			padding-left: 20px;
			text-decoration: none;
			font-family: "font_nav" ;
			font-size: 15px;
		}
    .menu_nav ul li a:hover {
      color: #BFBFBF;
    }
    .menu_nav ul li a:hover {
      transition: color 0.3s;
    }

/*------------------------*/

/*--------Head main-------*/

	#head_main {
		width: 100%;
		height: 575px;
		background-color: #002227;
    padding-top: 100px;
    padding-right: -40px;
	}
	.dino_img {
    margin-top: -100px;
		float: right;
		width: 50%;
		height: 700px;
    background: url('../img/main/head_main/head_main.png') no-repeat;
    background-position: right;
    background-size: auto 650px;
	}
  	.dino_img:hover {
  		background: url('../img/main/head_main/head_main_hover.png')no-repeat;
      background-position: right;
      background-size: auto 650px;
  	}
    .dino_img {
      transition: background 0.5s;
    }

  .head_main_text {
    margin-left: 13%;
    margin-top: 40px;
    float: left;
    width: 450px;
    height: 460px;
  }
  .head_main_encabezado{
    float: left;
    width: 450px;
    height: 240px;

  }
  .head_main_encabezado p {
    font-family: "font_nav";
    color: #fff;
    text-decoration: none;
    font-size: 65px;
  }
  .head_main_contenido {
    padding-top: 40px;
    float: left;
    width: 450px;
    height: 180px;
  }
  .head_main_contenido p{
    font-family: "font_nav";
    color: #BFBFBF;
    text-decoration: none;
    font-size: 37px;
    line-height: 3rem;
  }
/*---------------------------*/
.separador {
  background-color: #CB014A;
  width: 100%;
  height: 9px;
  }
/*---------------------------*/

/*--------SERVICES-------*/
  #service_containers {
    width: 75%;
    height: 930px;

  }
  .service_containers_fila01, .service_containers_fila02 {
    float: left;
    width: 100%;
    height: 500px;
  }
  .service_logo_identidad, .service_publicidad_negocios, .service_modelado, .service_packaging, .service_maquetacion, .service_diseno_web {
    width: 30%;
    height: auto;
    float: left;
    margin: 10px;
    padding-left: 10px;
    padding-top: 15px;
  }

  .rectangle {
    background-color: #CB014A;
    float: left;
    width: 2%;
    height: 420px;
    margin-top: 3%;
    margin-right: 15px;
    }
    .service_title {
      width: 100%;
      height: 120px;
    }
    .service_text {
      padding-top: 15px;
      width: 100%;
      height: auto;
    }
    .service_title a{
      color: #002227;
      text-decoration: none;
      font-family: "font_nav";
      font-size: 50px;
      line-height: 3rem;
      text-align: left;
    }   .service_title a:hover {
          color: #4f1fb4;
        }
        .service_title a {
          transition: color 0.3s;
        }

    .service_text p{
      color: #000;
      font-family: "font_tex_main";
      font-size: 17px;
      line-height: 2rem;
      text-align: left;
    }
/*---------------------------------*/
