/* fuentes personalizadas*/
  @font-face {
    font-family: "font_tex_main";
    src: url("../../font/rockwell_regular.ttf");
  }
  @font-face {
      font-family: "font_title_main";
      src: url("../../font/rockwell_bold.ttf");
  }
  @font-face {
      font-family: "font_nav";
      src: url("../../font/productsansblack.ttf");
  }

/*---------PANTALLAS MAYORES DE 1400px---------*/
/*---------------------------------*/
@media (min-width: 1400px) {
  * {
    margin: 0 auto;
    padding: 0 auto;
    }

/*--------Barra de navegacion-------*/
.respmenu input, label{
  display: none;
}
  #barra_navegacion {
    background: #fff;
    height: 60px;
    width: 100%;
    left: 0;
    top: 0;
    position: fixed;
     box-shadow: 2px 2px 5px #818181;
    }

  .icon_nav {
    width: 70%;
    height: 60px;
  }
  .icon_nav img {
    width: auto;
    height: 45px;
    margin-top: 8px;
    margin-bottom: 8px;
  }
  nav {
    position: absolute;
    top: 2px;
    right: 15%;
    float: right;
    width: 35%;
    height: 20px;
    padding-top: 20px;
  }
  nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    padding-left: 20px;
    display: flex;
  }
  nav ul li {
    display: inline-block;
  }
  nav ul li a{
    color: #000;
    display: block;
    padding-left: 20px;
    text-decoration: none;
    font-family: "font_nav";
    font-size: 15px;

  }
  nav ul li a:hover {
    color: #BFBFBF;
  }
    nav ul li a:hover {
      transition: color 0.3s;
    }

  /*------------------------*/

  /*-----------PORTAFOLIO---------*/
    #portafolio_container {
      margin-top: 100px;
      width: 85%;
      height: 1500px;
      margin-bottom: 100px;
    }
    .proyectos {
      width: 100%;
      height: 100px;
      margin-bottom: 30px;
    }
        .proyectos p {
          color: #002227;
          font-family: "font_nav";
          font-size: 60px;
          text-align: left;
        }
  /*--------------------------*/
    #draft_container {
      width: 350px;
      height: 410px;
      margin: 10px 10px;
      padding: 10px 5px;
      border-radius: 10px;
      float: left;
      background-color: #E4E4E4;
    }
    .icons_draft {
      width: 93px;
      height: 30px;
      float: right;
      margin-top: -8px;
      margin-right: 7px;
    }
        .icons_draft img {
          width: 28px;
          height: auto;
        }

  /*-------------GARABATO-----------------*/
  .img_garabato {
    width: 340px;
    height: 340px;
    background: url('../../img/portafolio/garabato/portada_garabato.png') no-repeat;
    background-position: center;
    background-size: 340px 340px;
    transition-duration: 0.8s;
    border-radius: 10px;
  }
  .img_garabato:hover {
    background: url('../../img/portafolio/garabato/portada_garabato_hover.png') no-repeat;
    background-position: center;
    background-size: 340px 340px;
    transition-duration: 0.8s;
    border-radius: 10px;
  }
      .img_garbato:hover {
        transition: background 1.0s;
      }
    .title_garabato, .text_garabato {
      width: 230px;
      height: 25px;
      margin-left: 10px;
      margin-top: 5px;
      float: left;
    } .title_garabato {margin-top: 15px;}

      .title_garabato a {
        text-decoration: none;
        color: #002227;
        font-family: "font_nav";
        font-size: 17px;
      }
          .title_garabato a:hover {
            color: #4f1fb4;
          }
            .title_garabato a:hover {
              transition: color 0.3s;
            }
      .text_garabato p {
        color: #0C0060;
        font-family: "font_tex_main";
        font-size: 12px;
      }

  /*--------------------------------*/
  /*-------------BRUTAL FIT-----------------*/
  .img_brutal {
    width: 340px;
    height: 340px;
    background: url('../../img/portafolio/brutal/portada_brutal.png') no-repeat;
    background-position: center;
    background-size: 340px 340px;
    transition-duration: 0.8s;
    border-radius: 10px;
  }
  .img_brutal:hover {
    background: url('../../img/portafolio/brutal/portada_brutal_hover.png') no-repeat;
    background-position: center;
    background-size: 340px 340px;
    transition-duration: 0.8s;
    border-radius: 10px;
  }
      .img_brutal:hover {
        transition: background 1.0s;
      }
    .title_brutal, .text_brutal {
      width: 230px;
      height: 25px;
      margin-left: 10px;
      margin-top: 5px;
      float: left;
    } .title_brutal {margin-top: 15px;}

      .title_brutal a {
        text-decoration: none;
        color: #002227;
        font-family: "font_nav";
        font-size: 17px;
      }
          .title_brutal a:hover {
            color: #4f1fb4;
          }
            .title_brutal a:hover {
              transition: color 0.3s;
            }
      .text_brutal p {
        color: #0C0060;
        font-family: "font_tex_main";
        font-size: 12px;
      }

  /*--------------------------------*/

  /*-------------COHETE-----------------*/
  .img_cohete {
    width: 340px;
    height: 340px;
    background: url('../../img/portafolio/cohete/portada_cohete.png') no-repeat;
    background-position: center;
    background-size: 340px 340px;
    transition-duration: 0.8s;
    border-radius: 10px;
  }
  .img_cohete:hover {
    background: url('../../img/portafolio/cohete/portada_cohete_hover.png') no-repeat;
    background-position: center;
    background-size: 340px 340px;
    transition-duration: 0.8s;
    border-radius: 10px;
  }
      .img_cohete:hover {
        transition: background 1.0s;
      }
    .title_cohete, .text_cohete {
      width: 230px;
      height: 25px;
      margin-left: 10px;
      margin-top: 5px;
      float: left;
    } .title_cohete {margin-top: 15px;}

      .title_cohete a {
        text-decoration: none;
        color: #002227;
        font-family: "font_nav";
        font-size: 17px;
      }
          .title_cohete a:hover {
            color: #4f1fb4;
          }
            .title_cohete a:hover {
              transition: color 0.3s;
            }
      .text_cohete p {
        color: #0C0060;
        font-family: "font_tex_main";
        font-size: 12px;
      }

  /*--------------------------------*/
  /*-------------COMIC-----------------*/
  .img_comic {
    width: 340px;
    height: 340px;
    background: url('../../img/portafolio/comic/portada_comic.png') no-repeat;
    background-position: center;
    background-size: 340px 340px;
    transition-duration: 0.8s;
    border-radius: 10px;
  }
  .img_comic:hover {
    background: url('../../img/portafolio/comic/portada_comic_hover.png') no-repeat;
    background-position: center;
    background-size: 340px 340px;
    transition-duration: 0.8s;
    border-radius: 10px;
  }
      .img_comic:hover {
        transition: background 1.0s;
      }
    .title_comic, .text_comic {
      width: 230px;
      height: 25px;
      margin-left: 10px;
      margin-top: 5px;
      float: left;
    } .title_comic {margin-top: 15px;}

      .title_comic a {
        text-decoration: none;
        color: #002227;
        font-family: "font_nav";
        font-size: 17px;
      }
          .title_comic a:hover {
            color: #4f1fb4;
          }
            .title_comic a:hover {
              transition: color 0.3s;
            }
      .text_comic p {
        color: #0C0060;
        font-family: "font_tex_main";
        font-size: 12px;
      }

  /*--------------------------------*/
  /*-------------FILBO-----------------*/
  .img_filbo {
    width: 340px;
    height: 340px;
    background: url('../../img/portafolio/filbo/portada_filbo.png') no-repeat;
    background-position: center;
    background-size: 340px 340px;
    transition-duration: 0.8s;
    border-radius: 10px;
  }
  .img_filbo:hover {
    background: url('../../img/portafolio/filbo/portada_filbo_hover.png') no-repeat;
    background-position: center;
    background-size: 340px 340px;
    transition-duration: 0.8s;
    border-radius: 10px;
  }
      .img_filbo:hover {
        transition: background 1.0s;
      }
    .title_filbo, .text_filbo {
      width: 230px;
      height: 25px;
      margin-left: 10px;
      margin-top: 5px;
      float: left;
    } .title_filbo {margin-top: 15px;}

      .title_filbo a {
        text-decoration: none;
        color: #002227;
        font-family: "font_nav";
        font-size: 17px;
      }
          .title_filbo a:hover {
            color: #4f1fb4;
          }
            .title_filbo a:hover {
              transition: color 0.3s;
            }
      .text_filbo p {
        color: #0C0060;
        font-family: "font_tex_main";
        font-size: 12px;
      }

  /*--------------------------------*/
  /*-------------LATA TREX-----------------*/
  .img_lata_trex {
    width: 340px;
    height: 340px;
    background: url('../../img/portafolio/lata_trex/portada_lata_trex.png') no-repeat;
    background-position: center;
    background-size: 340px 340px;
    transition-duration: 0.8s;
    border-radius: 10px;
  }
  .img_lata_trex:hover {
    background: url('../../img/portafolio/lata_trex/portada_lata_trex_hover.png') no-repeat;
    background-position: center;
    background-size: 340px 340px;
    transition-duration: 0.8s;
    border-radius: 10px;
  }
      .img_lata_trex:hover {
        transition: background 1.0s;
      }
    .title_lata_trex, .text_lata_trex {
      width: 230px;
      height: 25px;
      margin-left: 10px;
      margin-top: 5px;
      float: left;
    } .title_lata_trex {margin-top: 15px;}

      .title_lata_trex a {
        text-decoration: none;
        color: #002227;
        font-family: "font_nav";
        font-size: 17px;
      }
          .title_lata_trex a:hover {
            color: #4f1fb4;
          }
            .title_lata_trex a:hover {
              transition: color 0.3s;
            }
      .text_lata_trex p {
        color: #0C0060;
        font-family: "font_tex_main";
        font-size: 12px;
      }

  /*--------------------------------*/
  /*-------------TIERRA NUEVA-----------------*/
  .img_tierra_nueva {
    width: 340px;
    height: 340px;
    background: url('../../img/portafolio/tierra_nueva/portada_tierra_nueva.png') no-repeat;
    background-position: center;
    background-size: 340px 340px;
    transition-duration: 0.8s;
    border-radius: 10px;
  }
  .img_tierra_nueva:hover {
    background: url('../../img/portafolio/tierra_nueva/portada_tierra_nueva_hover.png') no-repeat;
    background-position: center;
    background-size: 340px 340px;
    transition-duration: 0.8s;
    border-radius: 10px;
  }
      .img_tierra_nueva:hover {
        transition: background 1.0s;
      }
    .title_tierra_nueva, .text_tierra_nueva {
      width: 230px;
      height: 25px;
      margin-left: 10px;
      margin-top: 5px;
      float: left;
    } .title_tierra_nueva {margin-top: 15px;}

      .title_tierra_nueva a {
        text-decoration: none;
        color: #002227;
        font-family: "font_nav";
        font-size: 17px;
      }
          .title_tierra_nueva a:hover {
            color: #4f1fb4;
          }
            .title_tierra_nueva a:hover {
              transition: color 0.3s;
            }
      .text_tierra_nueva p {
        color: #0C0060;
        font-family: "font_tex_main";
        font-size: 12px;
      }

  /*--------------------------------*/
  /*-------------MANO ROT-----------------*/
  .img_mano_rot {
    width: 340px;
    height: 340px;
    background: url('../../img/portafolio/mano_rot/portada_mano_rot.png') no-repeat;
    background-position: center;
    background-size: 340px 340px;
    transition-duration: 0.8s;
    border-radius: 10px;
  }
  .img_mano_rot:hover {
    background: url('../../img/portafolio/mano_rot/portada_mano_rot_hover.png') no-repeat;
    background-position: center;
    background-size: 340px 340px;
    transition-duration: 0.8s;
    border-radius: 10px;
  }
      .img_mano_rot:hover {
        transition: background 1.0s;
      }
    .title_mano_rot, .text_mano_rot {
      width: 230px;
      height: 25px;
      margin-left: 10px;
      margin-top: 5px;
      float: left;
    } .title_mano_rot {margin-top: 15px;}

      .title_mano_rot a {
        text-decoration: none;
        color: #002227;
        font-family: "font_nav";
        font-size: 17px;
      }
          .title_mano_rot a:hover {
            color: #4f1fb4;
          }
            .title_mano_rot a:hover {
              transition: color 0.3s;
            }
      .text_mano_rot p {
        color: #0C0060;
        font-family: "font_tex_main";
        font-size: 12px;
      }

  /*--------------------------------*/
  /*-------------MANO ROT-----------------*/
  .img_wild {
    width: 340px;
    height: 340px;
    background: url('../../img/portafolio/wild/portada_wild.png') no-repeat;
    background-position: center;
    background-size: 340px 340px;
    transition-duration: 0.8s;
    border-radius: 10px;
  }
  .img_wild:hover {
    background: url('../../img/portafolio/wild/portada_wild_hover.png') no-repeat;
    background-position: center;
    background-size: 340px 340px;
    transition-duration: 0.8s;
    border-radius: 10px;
  }
      .img_wild:hover {
        transition: background 1.0s;
      }
    .title_wild, .text_wild {
      width: 230px;
      height: 25px;
      margin-left: 10px;
      margin-top: 5px;
      float: left;
    } .title_wild {margin-top: 15px;}

      .title_wild a {
        text-decoration: none;
        color: #002227;
        font-family: "font_nav";
        font-size: 17px;
      }
          .title_wild a:hover {
            color: #4f1fb4;
          }
            .title_wild a:hover {
              transition: color 0.3s;
            }
      .text_wild p {
        color: #0C0060;
        font-family: "font_tex_main";
        font-size: 12px;
      }

  /*--------------------------------*/



















/*---------------------------------*/


/*---------FOOTER---------*/
  #footer {
      margin-top: 150px;
      width: 100%;
      height: 430px;
      background-color: #00181C;
    }
    .contenedor_footer {
      width: 85%;
      height: 400px;
    }
   .redes_footer, .mapa_footer {
     margin-top: 35px;
     float: left;
     width: 30%;
     height: 340px;
   }

      .redes_footer {
        margin-top: 70px;
       }
      .redes_footer img {
        width: 35px;
        height: auto;
        margin: 5px;
      }
      .redes {
        width: 70%;
        height: 45px;
        margin: 8px;
        margin-left: 15%;
      }
      .redes p {
        position: relative;
        top: -35px;
        left: 50px;
      }
      .redes a {
        color: #BFBFBF;
        font-family: "font_tex_main";
        font-size: 15px;
        text-decoration: none;
      }
              .redes a:hover {
                color: #fff;
              }
              .redes a:hover {
                transition: color 0.3s;
              }


   .text_footer {
     float: left;
     width: 40%;
     height: 340px;
   }
      .text_footer img {
        width: 50px;
        height: auto;
        margin: 60px 47%;
      }
      .text_footer p {
        text-decoration: none;
        font-family: "font_tex_main";
        font-size: 15px;
        color: #BFBFBF;
        text-align: center;
      }
    .mapa_footer p {
      margin-top: 25px;
      margin-left: 25%;
      color: #BFBFBF;
      font-family: "font_tex_main";
      font-size: 15px;
    }
      .mapa_footer img {
        width: 140px;
        height: auto;
        margin-top: 20px;
        margin-left: 30%;
      }
     .derechos_footer {
       float: left;
       width: 100%;
       height: 15px;
       text-align: center;
     }
      .derechos_footer p {
        color: #BFBFBF;
        font-family: sans-serif;
        font-size: 12px;
      }


  /*---------------------------------*/




}



































/*----------------------------------*/

















}
