/* fuentes personalizadas*/
  @font-face {
    font-family: "font_tex_main";
    src: url("../../font/rockwell_regular.ttf");
  }
  @font-face {
      font-family: "font_title_main";
      src: url("../../font/rockwell_bold.ttf");
  }
  @font-face {
      font-family: "font_nav";
      src: url("../../font/productsansblack.ttf");
  }
/*-----------------------------------------*/
@media (min-width: 500px) and (max-width: 1400px) {
    * {
    	margin: 0 auto;
    	padding: 0 auto;
    	}

/*--------Barra de navegacion-------*/
  .respmenu input, label{
    display: none;
  }
    #barra_navegacion {
    	background: #fff;
    	height: 60px;
    	width: 100%;
    	left: 0;
    	top: 0;
    	position: fixed;
       box-shadow: 2px 2px 5px #818181;
    	}

    .icon_nav {
      width: 70%;
      height: 60px;
    }
    .icon_nav img {
      width: auto;
      height: 45px;
      margin-top: 8px;
      margin-bottom: 8px;
    }
    nav {
      position: absolute;
      top: 2px;
      right: 15%;
      float: right;
    	width: 35%;
    	height: 20px;
    	padding-top: 20px;
    }
    nav ul {
    	list-style: none;
    	margin: 0;
    	padding: 0;
    	padding-left: 20px;
      display: flex;
    }
    nav ul li {
    	display: inline-block;
    }
    nav ul li a{
    	color: #000;
    	display: block;
    	padding-left: 20px;
    	text-decoration: none;
    	font-family: "font_nav";
    	font-size: 15px;

    }
    nav ul li a:hover {
      color: #BFBFBF;
    }
      nav ul li a:hover {
        transition: color 0.3s;
      }

/*------------------------*/
/*---------SERVICIOS---------*/
	#content_servicios {
		margin-top: 120px;
		width: 80%;
		height: auto;
	}
	#seccion_servicios {
		width: 1100px;
		height: 400px;
		margin-top: 80px;
		margin-bottom: 100px;
	}
		.text_seccion_servicios {
			float: left;
			width: 500px;
			height: 400px;
		}
			.titulo_servicios {
				float: left;
				padding-left: 20px;
				width: 100%;
				height: 120px;
			}
					.titulo_servicios p {
						font-family: "font_nav";
						font-size: 53px;
						color: #002227;
					}
					.titulo_servicios p:hover {
						color: #4f1fb4;
					}
					.titulo_servicios p {
						transition: color 0.4s;
					}



			.texto_servicios {
				float: left;
				width: auto;
				height: auto;
				padding-left: 30px;
			}
					.texto_servicios p {
						font-family: "font_tex_main";
						font-size: 18px;
						color: #000;
						line-height: 1.8rem;
						text-align: left;
					}

		.imagen_servicos {
			float: right;
			margin-top: 100px;
			width: 600px;
			height: 300px;
		}
			.imagen01_servicios {
				float: left;
				width: 390px;
				height: 280px;
				margin-top: 10px;
				margin-left: 10px;
			}
			.imagen02_servicios {
				float: left;
				width: 180px;
				height: 280px;
				margin-top: 10px;
				margin-left: 10px;
			}
/*------------------------*/
	.imagen01_brandig {
		width: 390px;
		height: 280px;
		background: url('../../img/servicios/01_branding.png') no-repeat;
				background-position: center;
				background-size: 390px auto;
	}
		.imagen01_brandig:hover {
			background: url('../../img/servicios/01_branding.png') no-repeat;
				background-position: center;
				background-size: 540px auto;
		}
      .imagen01_brandig {
				transition: background 1.0s;
			}

	.imagen02_brandig {
		width: 180px;
		height: 280px;
		background: url('../../img/servicios/02_branding.png') no-repeat;
		background-position: center;
		background-size: 180px auto;
		}
			.imagen02_brandig:hover {
				background: url('../../img/servicios/02_branding.png') no-repeat;
					background-position: center;
					background-size: 250px auto;
				}
		     .imagen02_brandig {
					transition: background 1.0s;
					}

/*------------------------*/
.imagen01_publicidad {
	width: 390px;
	height: 280px;
	background: url('../../img/servicios/01_publicidad.png') no-repeat;
			background-position: center;
			background-size: 390px auto;
}
	.imagen01_publicidad:hover {
		background: url('../../img/servicios/01_publicidad.png') no-repeat;
			background-position: center;
			background-size: 540px auto;
	}
		.imagen01_publicidad {
			transition: background 1.0s;
		}

.imagen02_publicidad {
	width: 180px;
	height: 280px;
	background: url('../../img/servicios/02_publicidad.png') no-repeat;
	background-position: center;
	background-size: 180px auto;
	}
		.imagen02_publicidad:hover {
			background: url('../../img/servicios/02_publicidad.png') no-repeat;
				background-position: center;
				background-size: 250px auto;
			}
			 .imagen02_publicidad {
				transition: background 1.0s;
				}

/*------------------------*/
.imagen01_publicidad_ex {
	width: 390px;
	height: 280px;
	background: url('../../img/servicios/01_publicidad_ex.png') no-repeat;
			background-position: center;
			background-size: 390px auto;
}
	.imagen01_publicidad_ex:hover {
		background: url('../../img/servicios/01_publicidad_ex.png') no-repeat;
			background-position: center;
			background-size: 540px auto;
	}
		.imagen01_publicidad_ex {
			transition: background 1.0s;
		}

.imagen02_publicidad_ex {
	width: 180px;
	height: 280px;
	background: url('../../img/servicios/02_publicidad_ex.png') no-repeat;
	background-position: center;
	background-size: 180px auto;
	}
		.imagen02_publicidad_ex:hover {
			background: url('../../img/servicios/02_publicidad_ex.png') no-repeat;
				background-position: center;
				background-size: 250px auto;
			}
			 .imagen02_publicidad_ex {
				transition: background 1.0s;
				}

/*------------------------*/
.imagen01_packaging {
	width: 390px;
	height: 280px;
	background: url('../../img/servicios/01_packaging.png') no-repeat;
			background-position: center;
			background-size: 390px auto;
}
	.imagen01_packaging:hover {
		background: url('../../img/servicios/01_packaging.png') no-repeat;
			background-position: center;
			background-size: 540px auto;
	}
		.imagen01_packaging {
			transition: background 1.0s;
		}

.imagen02_packaging {
	width: 180px;
	height: 280px;
	background: url('../../img/servicios/02_packaging.png') no-repeat;
	background-position: center;
	background-size: 180px auto;
	}
		.imagen02_packaging:hover {
			background: url('../../img/servicios/02_packaging.png') no-repeat;
				background-position: center;
				background-size: 250px auto;
			}
			 .imagen02_packaging {
				transition: background 1.0s;
				}

/*------------------------*/

.imagen01_maquetacion {
	width: 390px;
	height: 280px;
	background: url('../../img/servicios/01_maquetacion.png') no-repeat;
			background-position: center;
			background-size: 390px auto;
}
	.imagen01_maquetacion:hover {
		background: url('../../img/servicios/01_maquetacion.png') no-repeat;
			background-position: center;
			background-size: 540px auto;
	}
		.imagen01_maquetacion {
			transition: background 1.0s;
		}

.imagen02_maquetacion {
	width: 180px;
	height: 280px;
	background: url('../../img/servicios/02_maquetacion.png') no-repeat;
	background-position: center;
	background-size: 180px auto;
	}
		.imagen02_maquetacion:hover {
			background: url('../../img/servicios/02_maquetacion.png') no-repeat;
				background-position: center;
				background-size: 250px auto;
			}
			 .imagen02_maquetacion {
				transition: background 1.0s;
				}

/*------------------------*/
.imagen01_modelado {
	width: 390px;
	height: 280px;
	background: url('../../img/servicios/01_modelado.png') no-repeat;
			background-position: center;
			background-size: 390px auto;
}
	.imagen01_modelado:hover {
		background: url('../../img/servicios/01_modelado.png') no-repeat;
			background-position: center;
			background-size: 540px auto;
	}
		.imagen01_modelado {
			transition: background 1.0s;
		}

.imagen02_modelado {
	width: 180px;
	height: 280px;
	background: url('../../img/servicios/02_modelado.png') no-repeat;
	background-position: center;
	background-size: 180px auto;
	}
		.imagen02_modelado:hover {
			background: url('../../img/servicios/02_modelado.png') no-repeat;
				background-position: center;
				background-size: 250px auto;
			}
			 .imagen02_modelado {
				transition: background 1.0s;
				}

/*------------------------*/

/*------------------------*/
/*---------FOOTER---------*/
  #footer {
      margin-top: 150px;
      width: 100%;
      height: 430px;
      background-color: #00181C;
    }
    .contenedor_footer {
      width: 85%;
      height: 400px;
    }
   .redes_footer, .mapa_footer {
     margin-top: 35px;
     float: left;
     width: 30%;
     height: 340px;
   }

      .redes_footer {
        margin-top: 70px;
       }
      .redes_footer img {
        width: 35px;
        height: auto;
        margin: 5px;
      }
      .redes {
        width: 70%;
        height: 45px;
        margin: 8px;
        margin-left: 15%;
      }
      .redes p {
        position: relative;
        top: -35px;
        left: 50px;
      }
      .redes a {
        color: #BFBFBF;
        font-family: "font_tex_main";
        font-size: 15px;
        text-decoration: none;
      }
              .redes a:hover {
                color: #fff;
              }
              .redes a:hover {
                transition: color 0.3s;
              }


   .text_footer {
     float: left;
     width: 40%;
     height: 340px;
   }
      .text_footer img {
        width: 50px;
        height: auto;
        margin: 60px 47%;
      }
      .text_footer p {
        text-decoration: none;
        font-family: "font_tex_main";
        font-size: 15px;
        color: #BFBFBF;
        text-align: center;
      }
    .mapa_footer p {
      margin-top: 25px;
      margin-left: 25%;
      color: #BFBFBF;
      font-family: "font_tex_main";
      font-size: 15px;
    }
      .mapa_footer img {
        width: 140px;
        height: auto;
        margin-top: 20px;
        margin-left: 30%;
      }
     .derechos_footer {
       float: left;
       width: 100%;
       height: 15px;
       text-align: center;
     }
      .derechos_footer p {
        color: #BFBFBF;
        font-family: sans-serif;
        font-size: 12px;
      }


  /*---------------------------------*/
/*----------------------------------*/
