/* fuentes personalizadas*/
  @font-face {
    font-family: "font_tex_main";
    src: url("../../font/rockwell_regular.ttf");
  }
  @font-face {
      font-family: "font_title_main";
      src: url("../../font/rockwell_bold.ttf");
  }
  @font-face {
      font-family: "font_nav";
      src: url("../../font/productsansblack.ttf");
  }
/*---------DISPOSITIVOS MOBILES---------*/
/*---------------------------------*/
@media (max-width: 500px){
  * {
  	margin: 0 auto;
  	padding: 0 auto;
  	}
/*-----BARRA DE NAVEGACION----*/

  #barra_navegacion {
    background-color: #fff;
    width: 100%;
    height: 100px;
    position: fixed;
  }
  .icon_nav {
    float: right;
    position: relative;
    width: 200px;
    height: 100px;
    margin-right: 10px;
  }

  .icon_nav img {
    width: 185px;
    height: auto;
    position: relative;
    float: right;
    top: 15px;
  }


    label img {
    	width: 40px;
    	height: auto;
    	margin: 15px;
    }
    .respmenu {
      position: relative;
      float: left;
      top: 15px;
      left: 15px;
    }
    .respmenu a {
      color: #000;
      text-decoration: none;
      display: block;
      padding: 20px 20px;
      max-width: 200px;
      font-family: "font_nav";
    }
      .respmenu a:hover {
        color: #BFBFBF;
      }
      .respmenu a:hover {
        transition: color 0.3s;
      }

    .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
      position: absolute;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      right: 0;
      top: 0;
      width: 48px;
      height: 48px;
    }

    .respmenu .fa-bars, .respmenu .fa-times {
      font-size: 48px;
      pointer-events: none;
    }

    .respmenu input[type="checkbox"] {
      opacity: 0;
    }

    .respmenu {
      color: white;
      position: relative;
      background: #fff;
      min-height: 48px;
    }

    .respmenu nav {
      display: none;
    }

    .respmenu input:checked ~ nav {
      display: block;
    }

    .respmenu input:checked ~ .fa-bars {
      display: none;
    }

    .respmenu input:not(:checked) ~ .fa-times {
      display: none;
    }
/*-------------------------------------*/




































/*---------FOOTER---------*/
  .redes p {display: none;}
  .mapa_footer {display: none;}
  .text_footer img{display: none;}
  #footer {
    margin-top: 150px;
    width: 100%;
    height: 250px;
    background-color: #00181C;
  }
    .contenedor_footer {
      width: 80%;
      height: 200px;
    }
    .redes_footer {
      width: 100%;
      height: auto;
      display: inline-flex;
      margin-top: 25px;
    }
    .redes_footer img {
      width: 35px;
      height: auto;
    }
  .text_footer {
    width: 100%;
    height: 120px;
    margin-top: 20px;
  }
    .text_footer p {
        text-decoration: none;
        font-family: "font_tex_main";
        font-size: 15px;
        color: #BFBFBF;
        text-align: center;
    }

    .derechos_footer {
         float: left;
         width: 100%;
         height: 15px;
         text-align: center;
       }
        .derechos_footer p {
          color: #BFBFBF;
          font-family: sans-serif;
          font-size: 10px;
        }




}
/*---------------------------------*/
