/* fuentes personalizadas*/
  @font-face {
    font-family: "font_tex_main";
    src: url("../../font/rockwell_regular.ttf");
  }
  @font-face {
      font-family: "font_title_main";
      src: url("../../font/rockwell_bold.ttf");
  }
  @font-face {
      font-family: "font_nav";
      src: url("../../font/productsansblack.ttf");
  }
/*---------DISPOSITIVOS MOBILES---------*/
/*---------------------------------*/
@media (max-width: 500px){
  * {
  	margin: 0 auto;
  	padding: 0 auto;
  	}
/*-----BARRA DE NAVEGACION----*/

          #barra_navegacion {
            background-color: #fff;
            width: 100%;
            height: 100px;
            position: fixed;
            box-shadow: 2px 2px 5px #818181;
          }
          .icon_nav {
            float: right;
            position: relative;
            width: 200px;
            height: 100px;
            margin-right: 10px;
          }

          .icon_nav img {
            width: 185px;
            height: auto;
            position: relative;
            float: right;
            top: 15px;
          }


            label img {
            	width: 40px;
            	height: auto;
            	margin: 15px;
            }
            .respmenu {
              position: relative;
              float: left;
              top: 15px;
              left: 15px;
              width: 50%;
            }
            .respmenu a {
              color: #000;
              text-decoration: none;
              display: block;
              padding: 30px 20px;
              max-width: 200px;
              font-family: "font_nav";
            }
              .respmenu a:hover {
                color: #BFBFBF;
              }
              .respmenu a:hover {
                transition: color 0.3s;
              }

            .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
              position: absolute;
              box-sizing: border-box;
              margin: 0;
              padding: 0;
              right: 0;
              top: 0;
              width: 48px;
              height: 48px;
            }

            .respmenu .fa-bars, .respmenu .fa-times {
              font-size: 48px;
              pointer-events: none;
            }

            .respmenu input[type="checkbox"] {
              opacity: 0;
            }

            .respmenu {
              color: white;
              position: relative;
              background: #fff;
              min-height: 50px;
            }

            .respmenu nav {
              display: none;
            }

            .respmenu input:checked ~ nav {
              display: block;
            }

            .respmenu input:checked ~ .fa-bars {
              display: none;
            }

            .respmenu input:not(:checked) ~ .fa-times {
              display: none;
            }
        /*-------------------------------------*/

/*---------SERVICIOS---------*/
	#content_servicios {
		width: 85%;
		height: 1000px;
    padding-top: 130px;
	}
	#seccion_servicios {
		width: 100%;
		height: 400px;
		margin-bottom: 0px;
    background-color: re;
	}
		.text_seccion_servicios {
			float: left;
			width: 100%;
			height: auto;
		}
			.titulo_servicios {
				float: left;
				padding-left: 20px;
				width: 100%;
				height: 80px;
			}  #publicidad_exterior {margin-bottom: 60px;}
					.titulo_servicios p {
						font-family: "font_nav";
						font-size: 53px;
						color: #002227;
					}
					.titulo_servicios p:hover {
						color: #4f1fb4;
					}
					.titulo_servicios p {
						transition: color 0.4s;
					}



			.texto_servicios {
				float: left;
				width: auto;
				height: auto;
				padding-left: 30px;
			}
					.texto_servicios p {
						font-family: "font_tex_main";
						font-size: 18px;
						color: #000;
						line-height: 1.9rem;
						text-align: left;
					}

		.imagen_servicos {
			float: left;
      margin-top: 60px;
			margin-bottom: 80px;
			width: 100%;
			height: 290px;
		}
			.imagen01_servicios {
				float: left;
				width: 200px;
				height: auto;
        margin-right: 10px;
			}
			.imagen02_servicios {
				float: left;
				width: 35%;
				height: 280px;
			}
/*------------------------*/
.imagen01_brandig {
	width: 200px;
	height: 280px;
	background: url('../../img/servicios/01_branding.png') no-repeat;
			background-position: center;
			background-size: 390px auto;
}
	.imagen01_brandig:hover {
		background: url('../../img/servicios/01_branding.png') no-repeat;
			background-position: center;
			background-size: 500px auto;
	}
		.imagen01_brandig {
			transition: background 1.0s;
		}

.imagen02_brandig {
	width: 180px;
	height: 280px;
	background: url('../../img/servicios/02_branding.png') no-repeat;
	background-position: center;
	background-size: 200px auto;
	}
		.imagen02_brandig:hover {
			background: url('../../img/servicios/02_branding.png') no-repeat;
				background-position: left;
				background-size: 250px auto;
			}
			 .imagen02_brandig {
				transition: background 1.0s;
				}

/*------------------------*/
.imagen01_publicidad {
  width: 200px;
	height: 280px;
	background: url('../../img/servicios/01_publicidad.png') no-repeat;
			background-position: left;
			background-size: 390px auto;
}
	.imagen01_publicidad:hover {
		background: url('../../img/servicios/01_publicidad.png') no-repeat;
			background-position: center;
			background-size: 500px auto;
	}
		.imagen01_publicidad {
			transition: background 1.0s;
		}

.imagen02_publicidad {
  width: 180px;
	height: 280px;
	background: url('../../img/servicios/02_publicidad.png') no-repeat;
	background-position: center;
	background-size: 200px auto;
	}
		.imagen02_publicidad:hover {
			background: url('../../img/servicios/02_publicidad.png') no-repeat;
				background-position: center;
				background-size: 250px auto;
			}
			 .imagen02_publicidad {
				transition: background 1.0s;
				}

/*------------------------*/
.imagen01_publicidad_ex {
  width: 200px;
	height: 280px;
	background: url('../../img/servicios/01_publicidad_ex.png') no-repeat;
			background-position: center;
			background-size: 390px auto;
}
	.imagen01_publicidad_ex:hover {
		background: url('../../img/servicios/01_publicidad_ex.png') no-repeat;
			background-position: center;
			background-size: 540px auto;
	}
		.imagen01_publicidad_ex {
			transition: background 1.0s;
		}

.imagen02_publicidad_ex {
	width: 180px;
	height: 280px;
	background: url('../../img/servicios/02_publicidad_ex.png') no-repeat;
	background-position: center;
	background-size: 180px auto;
	}
		.imagen02_publicidad_ex:hover {
			background: url('../../img/servicios/02_publicidad_ex.png') no-repeat;
				background-position: center;
				background-size: 250px auto;
			}
			 .imagen02_publicidad_ex {
				transition: background 1.0s;
				}

/*------------------------*/
.imagen01_packaging {
  width: 200px;
	height: 280px;
	background: url('../../img/servicios/01_packaging.png') no-repeat;
			background-position: center;
			background-size: 390px auto;
}
	.imagen01_packaging:hover {
		background: url('../../img/servicios/01_packaging.png') no-repeat;
			background-position: center;
			background-size: 540px auto;
	}
		.imagen01_packaging {
			transition: background 1.0s;
		}

.imagen02_packaging {
	width: 180px;
	height: 280px;
	background: url('../../img/servicios/02_packaging.png') no-repeat;
	background-position: center;
	background-size: 180px auto;
	}
		.imagen02_packaging:hover {
			background: url('../../img/servicios/02_packaging.png') no-repeat;
				background-position: center;
				background-size: 250px auto;
			}
			 .imagen02_packaging {
				transition: background 1.0s;
				}

/*------------------------*/

.imagen01_maquetacion {
  width: 200px;
	height: 280px;
	background: url('../../img/servicios/01_maquetacion.png') no-repeat;
			background-position: center;
			background-size: 390px auto;
}
	.imagen01_maquetacion:hover {
		background: url('../../img/servicios/01_maquetacion.png') no-repeat;
			background-position: center;
			background-size: 540px auto;
	}
		.imagen01_maquetacion {
			transition: background 1.0s;
		}

.imagen02_maquetacion {
	width: 180px;
	height: 280px;
	background: url('../../img/servicios/02_maquetacion.png') no-repeat;
	background-position: center;
	background-size: 180px auto;
	}
		.imagen02_maquetacion:hover {
			background: url('../../img/servicios/02_maquetacion.png') no-repeat;
				background-position: center;
				background-size: 250px auto;
			}
			 .imagen02_maquetacion {
				transition: background 1.0s;
				}

/*------------------------*/
.imagen01_modelado {
  width: 200px;
	height: 280px;
	background: url('../../img/servicios/01_modelado.png') no-repeat;
			background-position: center;
			background-size: 390px auto;
}
	.imagen01_modelado:hover {
		background: url('../../img/servicios/01_modelado.png') no-repeat;
			background-position: center;
			background-size: 540px auto;
	}
		.imagen01_modelado {
			transition: background 1.0s;
		}

.imagen02_modelado {
	width: 180px;
	height: 280px;
	background: url('../../img/servicios/02_modelado.png') no-repeat;
	background-position: center;
	background-size: 180px auto;
	}
		.imagen02_modelado:hover {
			background: url('../../img/servicios/02_modelado.png') no-repeat;
				background-position: center;
				background-size: 250px auto;
			}
			 .imagen02_modelado {
				transition: background 1.0s;
				}

/*------------------------*/








/*---------FOOTER---------*/
  .redes p {display: none;}
  .mapa_footer {display: none;}
  .text_footer img{display: none;}
  #footer {
    margin-top: 3150px;
    width: 100%;
    height: 250px;
    background-color: #00181C;
  }
    .contenedor_footer {
      width: 80%;
      height: 200px;
    }
    .redes_footer {
      width: 100%;
      height: auto;
      display: inline-flex;
      margin-top: 25px;
    }
    .redes_footer img {
      width: 35px;
      height: auto;
    }
  .text_footer {
    width: 100%;
    height: 120px;
    margin-top: 20px;
  }
    .text_footer p {
        text-decoration: none;
        font-family: "font_tex_main";
        font-size: 15px;
        color: #BFBFBF;
        text-align: center;
    }

    .derechos_footer {
         float: left;
         width: 100%;
         height: 15px;
         text-align: center;
       }
        .derechos_footer p {
          color: #BFBFBF;
          font-family: sans-serif;
          font-size: 10px;
        }




}
/*---------------------------------*/
