/* fuentes personalizadas*/
  @font-face {
    font-family: "font_tex_main";
    src: url("../../font/rockwell_regular.ttf");
  }
  @font-face {
      font-family: "font_title_main";
      src: url("../../font/rockwell_bold.ttf");
  }
  @font-face {
      font-family: "font_nav";
      src: url("../../font/productsansblack.ttf");
  }
/*---------DISPOSITIVOS MOBILES---------*/
/*---------------------------------*/
@media (max-width: 500px){
  * {
  	margin: 0 auto;
  	padding: 0 auto;
  	}
/*-----BARRA DE NAVEGACION----*/

  #barra_navegacion {
    background-color: #fff;
    width: 100%;
    height: 100px;
    position: fixed;
  }
  .icon_nav {
    float: right;
    position: relative;
    width: 200px;
    height: 100px;
    margin-right: 10px;
  }

  .icon_nav img {
    width: 200px;
    height: auto;
    position: relative;
    float: right;
    top: 15px;
  }


    label img {
    	width: 40px;
    	height: auto;
    	margin: 15px;
    }
    .respmenu {
      position: relative;
      float: left;
      top: 15px;
      left: 15px;
    }
    .respmenu a {
      color: #000;
      text-decoration: none;
      display: block;
      padding: 20px 20px;
      max-width: 200px;
      font-family: "font_nav";
    }
      .respmenu a:hover {
        color: #BFBFBF;
      }
      .respmenu a:hover {
        transition: color 0.3s;
      }

    .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
      position: absolute;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      right: 0;
      top: 0;
      width: 48px;
      height: 48px;
    }

    .respmenu .fa-bars, .respmenu .fa-times {
      font-size: 48px;
      pointer-events: none;
    }

    .respmenu input[type="checkbox"] {
      opacity: 0;
    }

    .respmenu {
      color: white;
      position: relative;
      background: #fff;
      min-height: 48px;
    }

    .respmenu nav {
      display: none;
    }

    .respmenu input:checked ~ nav {
      display: block;
    }

    .respmenu input:checked ~ .fa-bars {
      display: none;
    }

    .respmenu input:not(:checked) ~ .fa-times {
      display: none;
    }
/*-------------------------------------*/
/*------------MAIN------------*/
  #head_main {
    width: 100%;
    height: auto;
    background-color: red;

  }
  .dino_img {
    		float: top left;
    		width: 100%;
    		height: 700px;
        background: url('../../img/main/head_main/head_main_mobile.png') no-repeat;
        background-position: left;
        background-size: auto 700px;
      }
      .head_main_text {
        margin-top: -530px;
        margin-right: 30px;
        width: 450px;
        height: 460px;
        float: left;
      }
      .head_main_encabezado {
        width: 300px;
        height: 250px;
        float: left;
        margin-left: 40px;
      }
        .head_main_encabezado p {
          color: #fff;
          font-family: "font_nav";
          font-size: 50px;
        }
      .head_main_contenido {
        width: 330px;
        height: 180px;
        float: left;
        margin-left: 40px;
      }
      .head_main_contenido p {
        font-family: "font_nav";
        color: #BFBFBF;
        text-decoration: none;
        font-size: 30px;
        line-height: 2.5rem;
      }










/*---------------------------------*/
}
