/* fuentes personalizadas*/
  @font-face {
    font-family: "font_tex_main";
    src: url("../../font/rockwell_regular.ttf");
  }
  @font-face {
      font-family: "font_title_main";
      src: url("../../font/rockwell_bold.ttf");
  }
  @font-face {
      font-family: "font_nav";
      src: url("../../font/productsansblack.ttf");
  }
/*---------DISPOSITIVOS MOBILES---------*/
/*---------------------------------*/
@media (max-width: 500px){
  * {
  	margin: 0 auto;
  	padding: 0 auto;
  	}
/*-----BARRA DE NAVEGACION----*/

  #barra_navegacion {
    background-color: #fff;
    width: 100%;
    height: 100px;
    position: fixed;
  }
  .icon_nav {
    float: right;
    width: 200px;
    height: 100px;
  }

  .icon_nav img {
    width: 185px;
    height: auto;
    position: relative;
    float: right;
    top: 15px;
    right: 25px;
  }


    label img {
    	width: 40px;
    	height: auto;
    	margin: 15px;
    }
    .respmenu {
      position: relative;
      float: left;
      top: 15px;
      left: 15px;
    }
    .respmenu a {
      color: #000;
      text-decoration: none;
      display: block;
      padding: 20px 20px;
      max-width: 200px;
      font-family: "font_nav";
    }
      .respmenu a:hover {
        color: #BFBFBF;
      }
      .respmenu a:hover {
        transition: color 0.3s;
      }

    .respmenu input[type="checkbox"], .respmenu .fa-bars, .respmenu .fa-times {
      position: absolute;
      box-sizing: border-box;
      margin: 0;
      padding: 0;
      right: 0;
      top: 0;
      width: 48px;
      height: 48px;
    }

    .respmenu .fa-bars, .respmenu .fa-times {
      font-size: 48px;
      pointer-events: none;
    }

    .respmenu input[type="checkbox"] {
      opacity: 0;
    }

    .respmenu {
      color: white;
      position: relative;
      background: #fff;
      min-height: 48px;
    }

    .respmenu nav {
      display: none;
    }

    .respmenu input:checked ~ nav {
      display: block;
    }

    .respmenu input:checked ~ .fa-bars {
      display: none;
    }

    .respmenu input:not(:checked) ~ .fa-times {
      display: none;
    }
/*-------------------------------------*/
/*------------MAIN------------*/
  #head_main {
    width: 100%;
    height: auto;

  }
  .dino_img {
    		float: top left;
    		width: 100%;
    		height: 700px;
        background: url('../../img/main/head_main/head_main_mobile.png') no-repeat;
        background-position: left;
        background-size: auto 700px;
      }
      .head_main_text {
        margin-top: -530px;
        margin-right: 30px;
        width: 450px;
        height: 460px;
        float: left;
      }
      .head_main_encabezado {
        width: 300px;
        height: 250px;
        float: left;
        margin-left: 40px;
      }
        .head_main_encabezado p {
          color: #fff;
          font-family: "font_nav";
          font-size: 50px;
        }
      .head_main_contenido {
        width: 330px;
        height: 180px;
        float: left;
        margin-left: 40px;
      }
      .head_main_contenido p {
        font-family: "font_nav";
        color: #BFBFBF;
        text-decoration: none;
        font-size: 30px;
        line-height: 2.5rem;
      }
  #service {
    width: 100%;
    height: auto;
  }
  #service_containers {
    margin-top: 50px;
    width: 85%;
    height: 2000px;
  }
  .service_containers_fila01, .service_containers_fila02 {
    width: 100%;
    height: auto;
  }
  .service_logo_identidad, .service_publicidad_negocios, .service_modelado, .service_packaging, .service_maquetacion, .service_diseno_web {
    width: 100%;
    height: auto;
    padding-top: 30px;
    padding-left: 7px;
  }


  .service_title {
    margin-top: 20px;
          width: 100%;
          height: 100px;
        }
        .service_text {
          padding-top: 10px;
          padding-left:20px;
          width: 100%;
          height: auto;
        }
        .service_title a{
          color: #002227;
          text-decoration: none;
          font-family: "font_nav";
          font-size: 50px;
          line-height: 3rem;
          text-align: left;
        }

        .service_text p {
          color: #000;
          font-family: "font_tex_main";
          font-size: 17px;
          line-height: 1.7rem;
          text-align: left;
        }

/*------------MI INFORMACION------------*/

        .mi_informacion {
          margin-top: 120px;
          width: 85%;
          height: 500px;
          text-align: center;
        }
        .quien_soy {
          width: 100%;
          height: 40px;
          margin-bottom: 30px;
        }
          .quien_soy p {
            color: #002227;
            font-family: "font_nav";
            font-size: 30px;
            text-align: left;
          }
        .mi_informacion img {
          width: 200px;
          height: auto;
          display: block;
          margin: auto;
        }
        .nombre {
          margin-top: 20px;
          width: 100%;
          height: auto;
        }
          .nombre a {
            color: #000;
            font-family: "font_nav";
            font-size: 40px;
            text-decoration: none;
          }

        .descripcion {
          margin-top: 30px;
          width: 100%;
          height: 200px;
        }
        .descripcion p {
          color: #000;
          font-family: "font_tex_main";
          font-size: 18px;

        }

/*---------FOOTER---------*/
  .redes p {display: none;}
  .mapa_footer {display: none;}
  .text_footer img{display: none;}
  #footer {
    margin-top: 150px;
    width: 100%;
    height: 250px;
    background-color: #00181C;
  }
    .contenedor_footer {
      width: 80%;
      height: 200px;
    }
    .redes_footer {
      width: 100%;
      height: auto;
      display: inline-flex;
      margin-top: 25px;
    }
    .redes_footer img {
      width: 35px;
      height: auto;
    }
  .text_footer {
    width: 100%;
    height: 120px;
    margin-top: 20px;
  }
    .text_footer p {
        text-decoration: none;
        font-family: "font_tex_main";
        font-size: 15px;
        color: #BFBFBF;
        text-align: center;
    }

    .derechos_footer {
         float: left;
         width: 100%;
         height: 15px;
         text-align: center;
       }
        .derechos_footer p {
          color: #BFBFBF;
          font-family: sans-serif;
          font-size: 10px;
        }






/*---------------------------------*/



/*---------------------------------*/
}
